body {
    background-color: #a0b8a0;
    /* 页面背景为浅绿色 */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* 字体按从左到右按浏览器有的选择 */
    font-size: normal;
    /* 字体大小为正常 */
    margin: 0px;
    /* 设置整个页面没有外边距 */
}
header {
    background-color: #5c964a;
    margin: 30px 50px 0px 50px;
    /* 设置左右外边距为50px, 后面的每个盒子左右边距也为50px；
    上外边距为50px,下外边距为0px，因为下面元素nav的上边距为10px,
    根据两个元素之间间距选择最大的外边距原则，header和nav的间距为10px*/
    height: 108px;
    /* header盒子高度为108px */
}
header.top img#headerlogo {
    height: 108px;
    /* 设置图片的高度为108px,与父盒子高度相同 */
}
header.top img#headerslogan {
    height: 108px;
    /* 设置图片的高度为108px,与父盒子高度相同 */
    float: right;
    /* 让该图片浮动到最右边 */
}
nav{
    background-color: #b6d1b6;
    margin: 10px 50px 10px 50px;
    /* 设置该导航模块左右外边距为50px，上下边距为10px */
} 

nav ul {
    margin: 0px;/* 紧贴放在nav元素中 */
    list-style-type: none;/* 列表不显示任何符号和标志 */
    padding: 5px 0px 5px 0px;
    /* 上下内边距为5px,左右无内边距 */
}
nav ul li {
    display: inline;
    /* 将其变为内联元素，即元素不换行，在一行中展示 */
    padding: 5px 10px 5px 10px;
    /* 内边距为上下5px,左右10px */
}

nav ul li a:link,nav ul li a:visited {
    /* 这里使用伪类 */
    color: #ea786d;
    /* 将尚未点击的和已访问过的连接都设置为粉色 */
    font-weight: bold;
    /* 加黑字体，bold相当于字体700 */
}

div#container1 {
    height: 693px;
    /* 该高度设置为满足展示背景画作的完整性 */
    background: #dfeae4 url(../images/main4.jpg);
    margin: 0px 50px 0px 50px;
    position: relative;
}
div#slogan {
    text-align: center;
    /* 字体中心对准 */
    position: absolute;
    left: 50%;
    margin-left: -175.736px;
    top: 50%;
    margin-top: -314.3195px;
    /* 为了使字体处于水平和垂直的正中间，即这个子盒子在父盒子的水平和垂直正中间。
    使用定位法，给父盒子添加相对定位，子盒子添加绝对定位。先使盒子左上角移动到
    父盒子正中心，即left:50% top:50%。再分别向上和左移动子盒子长宽一半的距离*/
}

span.slogan {
    color: #024c1c;
    font-size: xxx-large;
    /* 相对于父元素xxx-large */
    line-height: 100px;
    /* 行高为100px */
}
div#container2{
    display: table;
    /* 作为块级表格显示 */
    border-spacing: 10px;
    /* 相邻单元格的边框和边框之间的距离为10px */
    margin: 0px 50px 0px 50px;
    border: #5c964a dotted 2px;
    /* 设置边框颜色、粗细为2px、点式 */
}

div#container2Row {
    display: table-row;
    /* 作为表格行显示 */
}
section#left {
    display: table-cell;
    /* 作为表格单元格显示 */
    background-color: #cfa03c;
    width: 250px;
    padding: 15px;
    line-height: 1.9em;

}
section#left img#me {
    width: 100%;
}
section#left h1, section#left h2 {
    font-style: italic;
    color: black;
}
section#main {
    background-image: url(../images/heart.png);
    background-repeat: no-repeat;
    /* 背景图不重复 */
    background-position: top left;
    /* 放在左上角 */
    background-color: #d0dfef;
    display: table-cell;
    /* 作为单元格显示 */
    padding:          15px;
    padding-left: 200px;
    /* 左内边距为200px,因为背景爱心图宽度为200px,为了让出距离 */
}
img.main{
    width: 100%;
    /* 宽度与父元素相同 */
}
section#main h1 {
    font-size: 50px;
}
section#main p.main,section#main h4.main{
    font-size: large;
    /* 字体大小相对于父元素large */
}
a.book:visited,a.book:link {
    color: #5ba17d;
    font-weight: bold;
    /* 字体加黑,相当于数值700 */
}
aside {
    display: table-cell;
    /* 作为表格单元格显示 */
    background-color: #efd0d2;
    width: 250px ;
    padding: 15px;

}
aside img.school {
    width: 100%;
    /* 图片宽度与父元素宽度相同 */
}
aside h1 {
    font-size: 40px;
}
aside h1,aside h2 {
    color: #ea786d;
    font-weight: 900;
    /* 字体加黑到数值为900 */

}
footer {
    background-color: #5c964a;
    color: #024c1c;
    text-align: center;
    /* 字体水平中心对准 */
    padding: 15px;
    margin: 0px 50px 10px 50px;
}

